<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script src="script.js"></script>
    <title>Dishes</title>
  </head>
  <body>
    <div class="container p-4">
      <h1>List Dishes</h1>
      <div class="card">
        <div class="card-header">Busqueda por ID del plato</div>
        <div class="card-body">
          <input
            type="text"
            class="form-control"
            placeholder="Id Dish"
            aria-label="First name"
            id="idDish"
          />
          <button class="btn btn-primary" id="btnSend">Buscar</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="table-primary">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Calories</th>
              <th scope="col">IsVegetarian</th>
              <th scope="col">Value</th>
              <th scope="col">Comments</th>
            </tr>
          </thead>
          <tbody id="body">
            <script>
              loadDishes()
                .then((resp) => {
                  resp.data.forEach((dish) => {
                    const row = document.createElement("tr");
                    const colId = document.createElement("td");
                    colId.append(document.createTextNode(`${dish._id}`));
                    row.append(colId);

                    const colName = document.createElement("td");
                    colName.append(document.createTextNode(`${dish.name}`));
                    row.append(colName);

                    const colCalories = document.createElement("td");
                    colCalories.append(
                      document.createTextNode(`${dish.calories}`)
                    );
                    row.append(colCalories);

                    const colIsVegetarian = document.createElement("td");
                    const veg = dish.isVegetarian ? "Si" : "No";
                    colIsVegetarian.append(document.createTextNode(`${veg}`));
                    row.append(colIsVegetarian);

                    const colValue = document.createElement("td");
                    colValue.append(document.createTextNode(`${dish.value}`));
                    row.append(colValue);

                    const colComments = document.createElement("td");
                    colComments.append(
                      document.createTextNode(`${dish.comments}`)
                    );
                    row.append(colComments);

                    document.getElementById("body").append(row);
                  });
                })
                .catch((err) => console.log(err));
            </script>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
